* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(to right, black, rgb(129, 129, 129));
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}
.logo {
  color: white;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  transition: 3s;
}

.logo span {
  color: orangered;
}

nav ul li {
  list-style: none;
  display: inline;
  padding: 10px 20px;
  transition: right 0.3s;
}

nav ul li a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

nav ul li a:hover {
  color: orangered;
  border-bottom: 1px solid white;
  transition: 0.1s;
}

.present {
  color: orangered;
}
button {
  border: none;
  background: orangered;
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.3s;
}
button:hover {
  background: white;
  color: orangered;
  cursor: pointer;
  transform: scale(1.1);
}

#hamburger {
  color: white;
  font-size: 2rem;
  display: none;
}

.home {
  width: 100%;
  height: 85vh;
  color: white;
  display: flex;
  margin: 0;
}
.left {
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 120px 50px;
}
.left p {
  padding-top: 40px;
  padding-right: 90px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 23px;
}
.details p {
  padding: 0;
  color: orangered;
  font-size: 20px;
}
.details h1 {
  font-size: 50px;
}
input {
  border: none;
  background: orangered;
  padding: 12px 40px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.3s;
  margin-top: 40px;
  margin-right: 20px;
}
input:hover {
  background: white;
  color: orangered;
  cursor: pointer;
  transform: scale(1.1);
}
.social {
  margin: 20px 0;
}
.social a {
  color: white;
  padding-left: 10px;
  font-size: 40px;
}

main {
  position: relative;
}
.next-page {
  font-size: 4rem;
  text-decoration: none;
  color: rgb(238, 233, 233);
  position: absolute;
  bottom: 10%;
  right: 5%;
}
.previous-page {
  font-size: 4rem;
  text-decoration: none;
  color: white;
  position: absolute;
  bottom: 10%;
  left: 5%;
}
/*About*/
.about {
  color: white;
  text-align: center;
  padding: 35px 40px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 28px;
}
.about h2 {
  color: orangered;
  padding-top: 40px;
  font-size: 30px;
}
.about p {
  margin-top: 50px;
}

.about button {
  margin: 40px 0;
  border-radius: 0;
}
/*service*/
.service {
  color: white;
  margin-top: 50px;
}
.categories {
  width: 80%;
  height: 50vh;
  margin: 50px;
  margin-left: 135px;
  display: flex;
  justify-content: space-between;
}
.service h2 {
  text-align: center;
  color: orangered;
  font-size: 30px;
  margin-bottom: 10px;
}

.card {
  width: 30%;
  height: 100%;
  background: rgb(54, 53, 53);
  padding: 30px 0;
  color: white;
}
.card h3 {
  padding: 30px;
  font-size: 20px;
  letter-spacing: 1px;
}
.card p {
  text-align: none;
  padding-right: 50px;
  padding-left: 20px;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 1px;
}
.card button {
  margin: 0 20px;
  margin-top: 90px;
  border-radius: 0;
}
.card-c {
  width: 30%;
  height: 100%;
  background: rgb(54, 53, 53);
  padding: 30px 0;
  color: white;
}
.card-c h3 {
  padding: 30px;
  font-size: 20px;
  letter-spacing: 1px;
}
.card-c p {
  text-align: none;
  padding-right: 50px;
  padding-left: 20px;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 1px;
}
.card-c button {
  margin: 0 20px;
  margin-top: 75px;
  border-radius: 0;
}
/* portfolio */
.portfolio {
  text-align: center;
  font-size: 18px;
  color: orangered;
  margin-top: 40px;
}

@media (max-width: 900px) {
  #hamburger {
    position: relative;
    display: block;
    z-index: 9999;
  }
  header {
    position: relative;
    z-index: 9999;
  }
  nav ul,
  nav button {
    display: none;
  }

  .nav-active {
    display: flex;
    flex-direction: column;

    text-align: center;
    transition: all ease-in 0.5s;
    color: orangered;
    width: 40%;

    height: 40vh;
    position: absolute;
    font-size: 38px;
    top: 70%;
    gap: 0;
    margin: 0;
    padding: 0;

    border-bottom: 2px solid white;
    right: 0;
  }
  nav li {
    background-color: green;
    padding-bottom: 2rem;
  }
  .hidden {
    display: none;
  }
  .home {
    position: relative;
    display: grid;
  }
  .details {
    padding: 0;
    margin: 0;
  }
  img {
    width: 100%;
    height: auto;
  }
  .social {
    display: flex;
    padding: 0 10px;
  }
  .left {
    width: 100%;
    margin: 0;
    padding: 50px 0;
    padding-left: 15px;
  }
  .details h1 {
    font-size: 40px;
  }
  .next-page,
  .previous-page {
    position: absolute;
    top: 53rem;
    bottom: 0;
  }
  .categories {
    display: grid;
    width: 100%;
    margin: 0;
    padding-left: 35px;
    gap: 20px;
  }
  .card,
  .card-c {
    width: 90%;
    margin-bottom: 10px;
  }
  .about {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: normal;
  }

  .about p {
    font-size: 20px;

    padding: 0;
  }
}
